<div class="page-header">
<h1>Como subir archivos CSV File</h1>
<br/>
<p>
    Para Subir Archivo con extencion CSV debera tener en cuenta los siguiente...
</p>
<br/>

<p>
    El formato del archivo debera tener el siguiente contexto :
</p>
<p>
    <p>En el primer renglon debera contener la siguiente informacion</p><br/>
    longitude,latitude,client_number,name,address,CP,zona,description <br/>
    -60,-31,378,Alberto,Algun lugar 12,5010,Sur,Ruby Dev <br/>
    -65,-31.4241523,379,heroku,Avenida los arboles 1000 Cordoba Argentina,5010,Sur,Ruby Dev <br/>
    -65,-31.4241523,380,Matz,Avenida duarte 2000 Cordoba Argentina,5010,Sur,Ruby Dev <br/>
    -66,-31.4241523,381,pepino,Colon 3000 Cordoba Argentina,5010,Sur,Ruby Dev <br/>
    90,20,382,betoPatricio,lejos 22,5000,Sur,Goleador-de-boca <br/>
    91,21,386,Roberto,new york 26,5010,Sur,Riquelme <br/>
</p>
<p>
   A tener en cuenta que no se dejara espacios en blanco entre comas "," y lo siguiente, si no que estara todo pegado entre si...
</p>
</div>
