<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @client.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @client.longitude %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client.client_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @client.CP %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @client.seller.name %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @client.zona %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
