body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

  #footer {
      display: table;
      background-color: #fff;
      list-style-type: none;
      text-align: center;

      margin-top: 10px;
      height: 150px;
      width: 200%;
  }

  #footer_list li a {
      color: white;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
  }

  #footer_list .title {
      font-weight: bold;
      margin-bottom: 5px;
      margin-right: auto;
      margin-left: auto;
      font-size: 12px;
      padding-top: auto;
  }
  #footer_list a:hover {
    background-color: none !important;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
  }



  #category_list {
    display: block;
    background-color: #6793ea;
    list-style-type: none;
    height: 400px;
    margin-top: 10px;
    width: 200px;
  }

  #category_list li a {
    color: white;
    margin-left: -20px;
    margin-top: 10px;
  }

  #category_list .title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -20px;
    font-size: 14pt;
    padding-top: 6px;
  }

  #category_list li a:hover {
    background: none !important;
    text-decoration: none;
    color: grey;
  }
}
